$default: #007bff;
$default_dark: #0562c7;
$success: #28a745;
$success_dark: #1f8838;
$danger: #dc3545;
$danger_dark: #bd1120;

.group-container {
  width: 600px;
  height: 800px;
  margin: 0 auto;
  position: relative;

  .red,
  .blue {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .red {
    z-index: 10;
    background-color: #de2929;
  }
  .blue {
    z-index: 15;
    background-color: #3744f3;
  }
}

.observer-demo {
  padding: 15px;
}

.box-demo {
  top: 0;
  left: 0;
  width: 125px;
  height: 125px;
  border-radius: 0%;
  background-color: #a56609;
  position: relative;
  opacity: 1;
}

.animista {
  width: 400px;
  height: 400px;
  display: block;
  margin: auto;
  padding-top: 200px;
}

.route-transition-demo {
  width: 100%;
  height: 100%;
  padding: 10px;

  .observer,
  .key-wrapper,
  .route-transition-demo,
  .color-block {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .key-wrapper {
    z-index: 10;
    position: absolute;
    max-width: 400px;
    max-height: 600px;
    &:last-child {
      z-index: 100;
    }
  }

  .nav-links {
    list-style: none;
    margin-bottom: 10px;
    li {
      font-size: 18px;
      margin-right: 10px;
      display: inline-block;
    }
  }
}

.notifications-demo {
  width: 360px;
  margin: 0 auto;

  .actions {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
  }

  .notification-content {
    padding: 8px 15px;
    display: inline-block;
    width: 100%;
  }

  .notification-default {
    background-color: $default;
    border-left: 8px solid $default_dark;
    .notification-close {
      background-color: $default;
    }
  }

  .notification-success {
    background-color: $success;
    border-left: 8px solid $success_dark;
    .notification-close {
      background-color: $success;
    }
  }

  .notification-danger {
    background-color: $danger;
    border-left: 8px solid $danger_dark;
    .notification-close {
      background-color: $danger;
    }
  }

  .notification-item {
    display: flex;
    position: relative;
    border-radius: 3px;
    margin-bottom: 15px;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    cursor: default;

    .notification-message {
      color: #fff;
      max-width: calc(100% - 15px);
      font-size: 14px;
      line-height: 150%;
      word-wrap: break-word;
      margin-bottom: 0;
      margin-top: 0;
    }

    .notification-close {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      right: 10px;
      top: 10px;

      &::after {
        content: '\D7';
        cursor: pointer;
        position: absolute;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 12px;
        left: 50%;
        top: 50%;
      }
    }
  }
}

.pulsing-demo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: transparent;
  position: relative;

  svg {
    top: 0;
    left: 0;
    position: absolute;
  }

  .pulse-element {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-image: radial-gradient(
      circle closest-side,
      rgba(237, 79, 79, 1),
      rgba(237, 79, 79, 0.5)
    );
    border: solid 1px rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 34px;
    top: 34px;
  }
}

.rotating-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.rotating-circles {
  position: relative;

  .circle {
    margin: -30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #1ED4E1;
    position: absolute;
  }
}